@{
    ViewData["Title"] = "Login Page";
}

@section styleSheet{
    <link href="~/css/accountdetails.css" rel="stylesheet" />
}

<div class="col-md-7 d-flex align-items-center p-0 ">
    <div class="card p-2 mb-3 align-items-center w-100 border border-dark-subtle border-5">
        <div>
            <h3 class="text-uppercase" style="color: rgb(50, 40, 66);">Input Your card number</h3>
        </div>

        <div class="w-75 justify-content-center d-flex mb-3">
            <input id="inputNo" style="font-size: 30px;text-align: center;"
                   class="form-control bg-light w-100 border border-3" type="text" readonly>
        </div>

        <div class="mb-3 w-100 row">
            <div class="col-md-7 justify-content-end d-flex">
                <table class="w-75">
                    <tr class="d-flex justify-content-between mb-2" style="width: 15rem;">
                        <td style="width: 4rem;height:4rem;">
                            <a id="btn1" class="btn btn-lg no-btn w-100"
                               onclick="noClick(1)">1</a>
                        </td>
                        <td style="width: 4rem;height:4rem;">
                            <a id="btn2" class="btn btn-lg no-btn w-100"
                               onclick="noClick(2)">2</a>
                        </td>
                        <td style="width: 4rem;height:4rem;">
                            <a id="btn3" class="btn btn-lg no-btn w-100"
                               onclick="noClick(3)">3</a>
                        </td>
                    </tr>
                    <tr class="d-flex justify-content-between mb-2" style="width: 15rem;">
                        <td style="width: 4rem;height:4rem;">
                            <a id="btn4" class="btn  btn-lg no-btn w-100"
                               onclick="noClick(4)">4</a>
                        </td>
                        <td style="width: 4rem;height:4rem;">
                            <a id="btn5" class="btn  btn-lg no-btn w-100"
                               onclick="noClick(5)">5</a>
                        </td>
                        <td style="width: 4rem;height:4rem;">
                            <a id="btn6" class="btn  btn-lg no-btn w-100"
                               onclick="noClick(6)">6</a>
                        </td>
                    </tr>
                    <tr class="d-flex justify-content-between mb-2" style="width: 15rem;">
                        <td style="width: 4rem;height:4rem;">
                            <a id="btn7" class="btn  btn-lg no-btn w-100"
                               onclick="noClick(7)">7</a>
                        </td>
                        <td style="width: 4rem;height:4rem;">
                            <a id="btn8" class="btn  btn-lg no-btn w-100"
                               onclick="noClick(8)">8</a>
                        </td>
                        <td style="width: 4rem;height:4rem;">
                            <a id="btn9" class="btn  btn-lg no-btn w-100"
                               onclick="noClick(9)">9</a>
                        </td>
                    </tr>
                    <tr class="d-flex justify-content-between mb-2" style="width: 15rem;">
                        <td style="width: 4rem;height:4rem;">
                            <a id="btn7" class="btn  btn-lg no-btn w-100"
                               onclick="noClick(0)">0</a>
                        </td>
                        <td style="width: 9.5rem;height:4rem;">
                            <button id="btn8"
                                    class="btn btn-secondary btn-lg w-100 text-uppercase"
                                    onclick="clearNo()">
                                clear
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-5 d-flex align-items-center">
                <div>
                    <div class="mb-3">
                        <button type="button" id="confirmCard-btn" class="btn btn-lg btn-success text-uppercase w-100">Confirm</button>
                    </div>
                    <div>
                        <a asp-controller="home" asp-action="index" class="btn btn-lg btn-danger text-uppercase w-100">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/atmlogin.js" asp-append-version="true"></script>
}