<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Debug"
      internalLogFile="D:/TWADotNetCoreNlog/nlog_${shortdate}.txt">

		<targets>
			<target xsi:type="Database"
		  name="dbTarget"
		  connectionString="Data Source=localhost;Initial Catalog=AHMTZDotNetCore;Integrated Security=true;"
		  commandText="INSERT INTO NLogs(CreatedOn,Message,Level,Exception,StackTrace,Logger,Url) VALUES (@datetime,@msg,@level,@exception,@trace,@logger,@url)">
				<parameter name="@datetime" layout="${date}" />
				<parameter name="@msg" layout="${message}" />
				<parameter name="@level" layout="${level}" />
				<parameter name="@exception" layout="${exception}" />
				<parameter name="@trace" layout="${stacktrace}" />
				<parameter name="@logger" layout="${logger}" />
				<parameter name="@url" layout="${aspnet-request-url}" />
			</target>
		</targets>
		<rules>
			<logger name="*" minlevel="Trace" writeTo="dbTarget" />
		</rules>
	</nlog>

</configuration>